:root {
  --black: black;
  --blue: #2196f3;
  --white: #ffffff;
  --grey: #757575;
  --light-grey: rgba(255, 255, 255, 0.6);
  --background-footer: #2f303a;
  --box-shadow: rgba(0, 0, 0, 0.15);
}

header{border: 1px solid #ECECEC;}

.container {
  width: 1200px;
  margin-left: 215px;
  margin-right: 215px;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  font-size: 14px;
  line-height: 1.71;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--blue);
  text-decoration: none;
}

.nav-list {
  list-style: none;
  text-decoration: none;
}

.nav-list a {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0, 02em;
  color: var(--black);
  text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--blue);
}
.studio-black {
  color: var(--black);
}
.contacts-header {
  text-align: right;
}
.contacts-header a {
  color: var(--grey);
  text-decoration: none;
}
.contacts-header a:hover,
.contacts-header a:focus {
  color: var(--blue);
}
h1 {
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.page-theme {
  background-color: #2f303a;
  text-align: center;
  height: 600px;
}
.page-theme h1 {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--white);
}
.page-theme input {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--white);
  background-color: var(--blue);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px --box-shadow;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.articles h3 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0, 03em;
}

.articles p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0, 03em;
  color: var(--grey);
}

.articles {
  list-style: none;
  display: flex;
}
p {
  width: 270px;
  height: 75px;
}

h2 {
  text-align: center;
  margin: 0;
}

.secondary h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.secondary ul {
  list-style: none;
  padding-bottom: 0;
}
.picture {
  display: flex;
  padding-bottom: 94px;
  padding-left: 0;
  justify-content: space-between;
}
.team {
  background-color: #f5f4fa;
  padding-top: 0;
}
.team figure {
  margin: 0;
  height: 368px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0;
}

.team ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.button {
  width: 77px;
  height: 26px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--blue);
}

.buttons {
  list-style: none;
  display:flex;
  justify-content: space-evenly;
  width: 572px;
  height: 54px;
  padding-left: 0;
  padding-top: 100px;
  margin: auto
  
;
  

}
.portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 30px;
  margin: 0;
  padding-bottom: 94px;
  padding-top: 56px;

}

figcaption {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.portfolio figure{  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  margin: 0;
  width: 370px;
  height: 404px;
}

.upper-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
}
.upper{ font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
padding-top: 20px;}

.lower-text{
  font-size: 16;
  font-weight: 400;
  color: var(--grey);
  letter-spacing: 0.03em;
  text-align: center;
  
}
.lower{font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;}

.localization {
  color: var(--white);
  text-decoration: none;
}

.contacts-footer a:hover,
.contacts-footer a:focus {
  color: var(--blue);
}
.studio-white {
  color: var(--white);
}

.contacts-footer a {
  color: var(--light-grey);
  text-decoration: none;
}

.ending {
  background-color: var(--background-footer);
}
.ending ul {
  list-style: none;
  font-style: normal;
}
