:root {
  --black: black;
  --blue: #2196f3;
  --white: #ffffff;
  --grey: #757575;
  --light-grey: rgba(255, 255, 255, 0.6);
  --background-footer: #2f303a;
  --box-shadow: rgba(0, 0, 0, 0.15);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  font-size: 14px;
  line-height: 1.71;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--blue);
  text-decoration: none;
}
.nav-list {
  list-style: none;
  text-decoration: none;
}

.nav-list a {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0, 02em;
  color: var(--black);
  text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--blue);
}
.studio-black {
  color: var(--black);
}
.contacts-header a {
  color: var(--grey);
  text-decoration: none;
}
.contacts-header a:hover,
.contacts-header a:focus {
  color: var(--blue);
}
.page-theme h1 {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
}
.page-theme input {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--white);
  background-color: var(--blue);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px --box-shadow;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.articles h3 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0, 03em;
}

.articles p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0, 03em;
  color: var(--grey);
}

.articles {
  list-style: none;
}

.secondary h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.secondary ul {
  list-style: none;
}

.button {
  width: 77px;
  height: 26px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--blue);
}

.buttons {
  list-style: none;
}
.portfolio {
  list-style: none;
}
.upper-text {
  font-size: 16;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.lower-text {
  font-size: 16;
  font-weight: 400;
  color: var(--grey);
  letter-spacing: 0.03em;
}
.localization {
  color: var(--white);
  text-decoration: none;
}

.contacts-footer a:hover,
.contacts-footer a:focus {
  color: var(--blue);
}
.studio-white {
  color: var(--white);
}

.contacts-footer a {
  color: var(--light-grey);
  text-decoration: none;
}

.ending {
  background-color: var(--background-footer);
}
.ending ul {
  list-style: none;
  font-style: normal;
}
